bandhic.egg-info
*.DS_Store
*.npz

docs/*.log
docs/build/doctrees/**
docs/build/latex/**
!docs/build/latex/
!docs/build/latex/*.pdf

data/**
!data/sample.npz
__pycache__/
bandhic/__pycache__/
.pytest_cache/
.vscode/

test/**
!test/*_test.py
!test/*_benchmark.py
!test/samples.ipynb


